@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --first: #1e283a;
  --second: #232c3d;
  --third: #293243;
  /* --accent-first: #c2933e; */
  --accent-first: #ffbc41;
  --text-color: #f8fdff;
  --text-color-semiTrans: #f8fdffa6;
}

/* MAIN STYLES */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--first);
  height: 100vh;
  /* width: 100vh; */
  /* max-height: 100vh; */
  overflow: hidden;
}
body * {
  /* font-family: "Open Sans", sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  /* overflow: hidden; */
}
i {
  display: inline-block;
}
.elementToDrag {
  border: 1px solid var(--accent-first);
  border-radius: 0.25rem;
}

.main {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Start of Navbar Styles*/
.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--first);
  z-index: 10;
}
.main-nav-brand {
  height: 2rem;
  margin: 2rem 1rem;
}

.main-nav-icon {
  height: 2rem;
  margin: 2rem 1rem;
  display: flex;
  gap: 1rem;
}

.main-nav-icon > li {
  display: flex;
  width: 2rem;
  align-items: center;
  justify-content: center;
}
.main-nav-icon-btn {
  flex: 0;
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
}

.main-nav-icon-btn:hover {
  color: var(--accent-first);
}
.addBookmark-btn[data-active="true"],
.editBookmarks-btn[data-active="true"] {
  color: var(--accent-first);
}
/* End of Navbar Styles*/

.main-section {
  flex-grow: 1;
  position: relative;
}
/* Start of Bookmark Section */
.main-section-bookmarks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.main-section-bookmarks-group {
  line-height: 1.25rem;
}
.main-section-bookmarks-group > div:first-child {
  border-top: 1px solid var(--accent-first);
  margin: 1rem 1rem 0.25rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section-bookmarks-group-icons,
.main-section-bookmarks-ul-li-icons {
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  text-align: center;
}
.main-section-bookmarks-ul-li-icons {
  padding: 0.4rem 1rem 0.4rem 0rem;
}

.main-section-bookmarks-ul-li-icons > i,
.main-section-bookmarks-group-icons > i {
  color: var(--text-color-semiTrans);
  width: 16px;
  height: 16px;
  font-size: 16px;
  overflow: none;
  cursor: pointer;
}
.main-section-bookmarks-ul-li-icons > i:hover,
.main-section-bookmarks-group-icons > i:hover {
  color: var(--accent-first);
}
.main-section-bookmarks-group-icons > i[data-visible="false"],
.main-section-bookmarks-group-icons > i[data-visible="false"] {
  display: none;
}

.main-section-bookmarks-group-icons > i[data-visible="true"],
.main-section-bookmarks-group-icons > i[data-visible="true"] {
  display: inline-block;
}
.main-section-bookmarks-ul-li-icons[data-visible="true"] {
  display: flex;
}
.main-section-bookmarks-ul-li-icons[data-visible="false"] {
  display: none;
}
.main-section-bookmarks-group-title {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-color-semiTrans);
}
.main-section-bookmarks-ul[data-collapsed="true"] > li {
  display: none;
}
.main-section-bookmarks-ul[data-collapsed="false"] > li {
  display: flex;
}
.main-section-bookmarks-ul-title {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* padding: 0rem 0rem.25rem 0rem; */
}
.main-section-bookmarks-ul-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.main-section-bookmarks-ul-li-link {
  display: block;
  width: 100%;
  padding: 0.4rem 0rem 0.4rem 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  text-decoration: none;
}
/* .main-section-bookmarks-ul-li-icons {
  padding: 0 1rem 0 0;
} */

.main-section-bookmarks-ul-li-link:hover {
  color: var(--accent-first);
  background-color: var(--third);
  border-radius: 0.25rem;
}
.main-section-bookmarks-ul-li-link:active {
  border-color: var(--accent-first);
  animation-name: rubberBand;
}
/* End of Bookmark Section */

/* Start of Footer Section */
.main-footer {
  /* border-top: 1px solid var(--accent-first); */
  text-align: center;
}
.main-footer-textarea {
  margin: 0.25rem 0;
}
/* End of Footer Section */

.main-section-bookmarks-ul-li[data-visible="false"],
.addCreateNewGroup[data-visible="false"] {
  display: none;
}
.bi[data-visible="false"] {
  display: none;
}
.bi[data-visible="true"] {
  display: block;
}

/* Start of Add New Bookmark / Group Container */
.addBookmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--first);
  border-radius: 0.25rem;
  justify-content: center;
  z-index: 2;
}
.addBookmark[data-visible="true"] {
  display: flex;
}
.addBookmark[data-visible="false"] {
  display: none;
}
.addCreateNewGroup[data-visible="true"] {
  display: block;
}
.addBookmark-form {
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
  gap: 1rem;
}
.addBookmark-form-label {
  width: 100%;
  line-height: 1.25;
  font-size: 1.1rem;
}
.input {
  background-color: var(--third);
  border: none;
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  outline: none;
}
.addBookmark-form-input {
  height: 2rem;
  font-size: 1.1rem;
  margin-top: 0.25rem;
  width: 100%;
}
.input:focus {
  border: 1px var(--accent-first) solid;
}
.addBookmkar-form-btnContainer {
  width: 100%;
  display: flex;
  column-gap: 1rem;
}
.button {
  background-color: var(--third);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
}
.button:hover,
.button:focus {
  border: 1px var(--accent-first) solid;
}
/* End of Add New Bookmark / Group Container */

/* Start of Editing Container */
.linkDisabled {
  display: inline-block;
  pointer-events: none;
}
.isEditingBookmark {
  display: flex;
  flex-direction: column;
  background-color: var(--third);
  border-radius: 0.25rem;
}
.isEditingBookmark > a {
  display: inline-block;
  pointer-events: none;
  width: auto;
}
.isEditingBookmark > .main-section-bookmarks-ul-li-icons {
  display: none;
}
.isEditingBookmark > div {
  color: #f8fdff;
  display: flex;
  justify-content: space-around;
}
.isEditingBookmark > div > div:first-child {
  width: 70%;
}
.isEditingBookmark > div > div:last-child {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.isEditingBookmark > div > div > input {
  background-color: var(--first);
  width: 100%;
  height: 2rem;
  margin: 0.25rem 0;
}

.isEditingGroup {
  display: flex;
  flex-direction: column;
  background-color: var(--third);
  border-radius: 0.25rem;
}
.isEditingGroup > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.isEditingGroup > div > div:first-child {
  display: flex;
  justify-content: center;
}
.isEditingGroup > div > div:first-child > input {
  width: 95%;
  margin: 0 auto;
}
.isEditingGroup > div > div:last-child {
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  width: 100%;
}
.isEditingGroup > div > div:last-child > input {
  width: 45%;
}
.isEditingGroup > div > div > input {
  background-color: var(--first);
  width: 100%;
  height: 2rem;
  margin: 0.25rem 0;
}
/* .isEditingGroup > h2, */
.isEditingGroup > .main-section-bookmarks-group-icons {
  display: none;
}
/* End of Editing Container */

@media screen and (min-width: 1440px) {
  .main {
    width: 1440px;
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
