/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
}
/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

