:root {
}
body {
  line-height: 1;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background);
}
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--text);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
}
select,
option {
  cursor: pointer;
}
select:hover {
  background-color: none;
}

ol,
ul {
  list-style: none;
}

i {
  display: inline-block;
}
*[data-visible="true"] {
  display: flex;
}
*[data-visible="false"] {
  display: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
.dragging {
  /* outline: 1px dashed var(--accent); */
  outline-offset: -1px;
  border-radius: 2px;
  opacity: 0.5;
  box-shadow: var(--accent) 0px 0px 2px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.dragging:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.dragging .main-section-bookmarks-group-div{
  border-top: none;
}
.dragOverList {
  outline: 1px dashed var(--accent);
  border-radius: 2px;
  min-height: 32px;
  /* position: relative; */
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.dragConfirmWindow {
  position: absolute;
  left: 50%;
  top: -8.5%;
  transform: translate(-50%, 0);
  display: flex;
  width: max-content;
  height: max-content;
  /* background-color: var(--background);
  box-shadow: var(--accent) 0px 0px 2px, rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  padding: 4px 8px 4px 8px;
  gap: 16px;
  animation: slideindrag 250ms ease-in-out;
}
@keyframes slideindrag {
  from {
    transform: translate(-50%, -100%);
  }
  to {
    transform: translate(-50%, 0);
  }
}
.dragConfirmWindow a.button {
  /* width: max-content; */
  flex: 1;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  padding: 4px 8px;
  text-align: center;
}
.dragConfirmWindow a.contextBtn:hover {
  outline: 1px solid var(--accent);
}

/* .dragConfirmWindow a.contextBtn:first-child {
  background-color: var(--primary);
} */
.dragConfirmWindow a.button p {
  font-size: 12px;
  color: gray;
}
ul.main-section-bookmarks-ul.dragOverList {
  height: 100%;
  max-height: 100%;
}
.main-section-column {
  height: 100%;
}
.move {
  cursor: move;
}
.relative {
  position: relative;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  cursor: move;
}
.main {
  width: 95%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-nav {
  height: 10%;
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* flex: 1; */
}
/* .hide {
  opacity: 0;
  pointer-events: none;
} */

.main-nav-icon {
  margin-right: 16px;
  gap: 16px;
}

/* .main-nav-icon > li {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.main-nav-icon-btn {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}
.main-nav-icon-btn:hover {
  background-color: var(--primary);
}
.main-section {
  flex-grow: 1;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  outline-offset: 1px;
}
.main-section *{
  transition: outline 250ms ease-in-out;
}
.main-section-bookmarks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  overflow-y: scroll;
  padding: 1px;
}
.main-section-bookmarks-group {
  position: relative;
  line-height: 1.25;
  cursor: pointer;
}
.main-section-bookmarks-group-div:hover::before {
  right: 5%;
  top: 0;
  position: absolute;
  content: "ï·";
  font: 12px/1 FontAwesome;
  color: var(--accent);
  padding-top: 4px;
}
.main-section-bookmarks-group-div {
  border-top: 1px solid var(--accent);
  margin: 16px 16px 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-section-bookmarks-group-title {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: gray;
}

.main-section-bookmarks-ul {
  overflow: hidden;
}

.main-section-bookmarks-ul[data-folded="true"] {
  max-height: 0;
  transition: max-height 100ms ease-in-out;
}

.main-section-bookmarks-ul[data-folded="false"] {
  max-height: 1000px;
  transition: max-height 100ms ease-in-out;
}
.main-section-bookmarks-ul-li-link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 6px;
  align-items: center;
  padding: 4px 16px 4px 16px;
  line-height: 20px;
  text-decoration: none;
  transition: background 250ms ease;
}
.main-section-bookmarks-ul-li-link:hover,
.main-section-bookmarks-ul-li-link:focus {
  /* color: var(--accent); */
  background-color: var(--primary);
  border-radius: 2px;
}
.main-footer {
  height: 3vh;
  
}
.main-footer-conteiner {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  overflow-x: hidden;
}
.main-footer-conteiner-text {
  position: absolute;
  z-index: -1;
  top: 0;
  line-height: 1;
  animation: moveText 20s linear;
  color: gray;
  transform: translateX(100%);
  text-align: center;
  font-size: calc(0.55 * 3vh);
  width: 100%;
  margin: calc(0.2 * 3vh) 0;
}
@keyframes moveText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.addBookmark {
  display: flex;
}
.addBookmark,
.settings,
.editDiv {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /* backdrop-filter: blur(4px); */
  background-color: var(--background);
  box-shadow: var(--accent) 0px 0px 2px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* a.btnIsDisabled,
a.btnIsDisabled:hover,
a.btnIsDisabled:focus {
  color: rgb(128, 128, 128, 0.75);
  cursor: auto;
  border: none;
  border: 0 solid transparent;
  pointer-events: none;
} */

input.btnIsDisabled,
input.btnIsDisabled:hover,
input.btnIsDisabled:focus,
a.btnIsDisabled,
a.btnIsDisabled:hover,
a.btnIsDisabled:focus {
  color: rgb(128, 128, 128, 0.75);
  cursor: auto;
  border: none;
  border: 0 solid transparent;
  pointer-events: none;
}
button.addBookmark-form-btn-add,
input.settings-menu-form-btn,
button.importbtn,
input.cpybtn {
  background-color: var(--primary);
}

.addBookmark-form-btn-add.btnIsDisabled,
.importBtn.btnIsDisabled,
.addBookmark-form-btn-add.btnIsDisabled:hover,
.importBtn.btnIsDisabled:hover,
.addBookmark-form-btn-add.btnIsDisabled:focus,
.importBtn.btnIsDisabled:focus {
  color: rgb(128, 128, 128);
  background-color: rgba(128, 128, 128, 0.5);
  cursor: not-allowed;
  border: none;
  outline: 0 solid transparent;
  position: relative;
  transform: translateY(0);
}
.importBtn.btnIsDisabled:hover:after {
  content: "You must enter a valid code to import bookmarks";
  bottom: 132%;
  left: 50%;
  transform: translateX(-50%);
  /* opacity: 0.75; */
}
.importBtn.btnIsDisabled:hover:before,
.addBookmark-form-btn-add.btnIsDisabled:hover:before {
  bottom: 110%;
  left: 20%;
  border-top: 5px solid var(--secondary);
}
.addBookmark-form-btn-add.btnIsDisabled:hover:after {
  content: "You must fill the fields above to be able to add a bookmark";
  bottom: 132%;
  left: 30%;
  transform: translateX(-50%);
  /* opacity: 0.75; */
}

.addBookmark-form-btn-add.btnIsDisabled:hover:before,
.importBtn.btnIsDisabled:hover:before {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: scale(2);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 11;
}
.importBtn.btnIsDisabled:hover:after,
.addBookmark-form-btn-add.btnIsDisabled:hover:after {
  color: var(--text);
  font-size: 12px;
  font-weight: bold;
  padding: 4px;
  position: absolute;
  width: 75%;
  background: var(--secondary);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 10;
}
.addBookmark-form {
  /* position: absolute; */
  /* top: 0; */
  /* transform: translateY(-10%); */
  
  padding-top: 0;
  background-color: var(--background);
  display: flex;
  width: 75%;
  flex-direction: column;
  gap: 16px;
  border-radius: 2px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  overflow: hidden;
  animation: 200ms opacityAnimation;
}

.addBookmark-form-label {
  min-width: 100%;
  line-height: 24px;
  font-size: 20px;
}
.editDiv {
  display: flex;
}
.editDiv form {
  gap: 16px;
  animation: fadeIn 200ms;
}
.editDiv form {
  position: absolute;

  background-color: var(--background);
  display: flex;
  width: 75%;
  flex-direction: column;
  border-radius: 2px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  animation: 200ms opacityAnimation;
}

.editDiv form * {
  width: 100%;
}
.editDiv form label {
  line-height: 24px;
  font-size: 20px;
}
.editDiv form label input {
  margin-top: 4px;
}
.editDiv form div {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-around;
}
.undo {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  box-shadow: var(--accent) 0px 0px 2px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.undo button {
  padding: 0 8px;
}
input:focus {
  /* background-color: var(--secondary); */
  transition: background 250ms ease;
}
.input {
  background-color: var(--secondary);
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 4px;
  outline: none;
  height: 32px;
  box-shadow: 1px 1px 0 0 var(--sec);
  transform: translateY(-1.5px);
  -webkit-transform: translateY(-1.5px);
}
.addBookmark-form-input {
  height: 32px;
  margin-top: 4px;
  width: 100%;
}
.addBookmark-form-label.addCreateNewGroup[data-visible="true"] {
  display: block;
}
.input:focus {
  outline: 1px solid var(--accent);
}
.addBookmkar-form-btnContainer {
  width: 100%;
  display: flex;
  column-gap: 16px;
}
.addBookmark-form-checkbox {
  margin-left: 8px;
  background-color: var(--accent);
}
.button {
  background-color: var(--secondary);
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  height: 32px;
  box-shadow: 1px 1.5px 0 0 var(--first);
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-1.5px);
  -webkit-transform: translateY(-1.5px);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  outline: 1px var(--accent) solid;
}
.button:active {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
.settings {
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-menu {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 32px;
  border-radius: 2px;
  background-color: var(--background);
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  animation: opacityAnimation 200ms;
}
.settings-options {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: max-content max-content;
  gap: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.settings-options > div {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 0 8px;
}
.setting-menu-appearance,
.settings-menu-newTab,
.settings-menu-importExport,
.setting-menu-features {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid var(--accent);
}
.setting-menu-appearance-colorPickers[data-visible="true"] {
  display: grid;
}
.setting-menu-appearance-colorPickers {
  gap: 4px;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 8px;
}
.setting-menu-appearance-colorPickers > div {
  width: auto;
  position: relative;
}
.setting-menu-appearance-colorPickers .input {
  cursor: pointer;
}
.setting-menu-appearance-colorPickers .input:hover {
  outline: 1px var(--accent) solid;
}
.main-section-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}
.main-section-navbar h1 {
  line-height: 1.25;
  font-size: 42px;
}
.main-section-navbar .fa-xmark {
  /* width: 20px; */
  aspect-ratio: 1/1;
  /* position: relative; */
  cursor: pointer;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: grey;
}
.main-section-navbar .fa-xmark:hover {
  color: var(--text);
}
.main-section-navbar .fa-xmark::before {
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px; */
}
.settings h2 {
  /* width: 100%; */
  margin: 0 8px 0 8px;
  padding-top: 0;
  line-height: 1.25;
  font-size: 24px;
  font-weight: 600;
  gap: 8px;
}
.settings label {
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.settings-menu-newTab-label {
}
.settings p {
  line-height: 1.25;
}
.settingInput {
  cursor: pointer;
}
/* .settings-menu > div > div {
} */

.setting-menu-appearance-theme *,
.setting-menu-appearance-settings label {
  width: 100%;
}
.setting-menu-appearance-settings label,
.setting-menu-features label {
  display: flex;
  height: 32px;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.setting-menu-features p {
  color: gray;
}
.settings-menu-newTab-content p {
  padding: 8px 0;
}
.settings-menu-form {
  display: flex;
  gap: 8px;
}
.settings-menu-form-inp {
  flex: 1;
}
.settings-menu-form-btn {
  flex-basis: 33.33%;
}
.settings-menu-btnContainer {
  display: flex;
  gap: 8px;
}
.settings-menu-btnContainer * {
  flex: 1;
}

.settings-menu-textDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  /* animation: expandAnimation 250ms; */
  height: max-content;
  transition: height 250ms ease-in-out;
}

.settings-menu-textDiv > div {
  display: flex;
  gap: 8px;
}
.settings-menu-textDiv > div > * {
  flex: 1;
  text-align: center;
}
.settings-menu-textarea {
  width: 100%;
  height: 160px;
  resize: none;
}
.hideMenuBtnCheckBox,
.hideLinkIconCheckbox {
  width: 16px;
  aspect-ratio: 1/1;
}

.settings-links {
  /* margin: auto 0; */
  position: absolute;
  bottom: 0;
  /* left:0; */
  width: max-content;
  /* z-index: 5; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 26px;
  padding: 8px 4px;
}
.settings-links a {
  text-decoration: none;
  color: gray;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.settings-links span{
  text-decoration: none;
  color: gray;
  font-size: 12px;
  font-weight: 600;
}
.settings-links a{
  display: flex;
  flex-direction: column;
}
.settings-links a:hover {
  color: var(--primary);
}
.rmb-popup {
  overflow: hidden;
  position: fixed;
  background-color: var(--background);
  padding: 8px;
  border-radius: 2px;
  height: max-content;
  /* width: 12%; */
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--accent) 0px 0px 2px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: var(--accent) 0px 4px 8px -2px, var(--accent) 0px 0px 0px 1px; */
  animation: 750ms expandAnimation;
}

.rmb-popup > * {
  animation: 500ms opacityAnimation;
}

.rmb-popup p {
  line-height: 20px;
}
.contextBtn {
  display: block;
  width: 100%;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background 250ms ease;
}
.contextBtn:hover,
.contextBtn:focus {
  /* color: var(--accent); */
  background-color: var(--primary);
  border-radius: 2px;
}
.contextTopBtnDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-around;
  align-items: center;
}
/* .contextTopBtnDiv .contextBtn::before  {
font-size: 16px;
} */
.contextTopBtnDiv .contextBtn {
  padding: 8px 0;
  /* width: 32px; */
  /* aspect-ratio: 1.25/1; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  border-top: 1px solid var(--accent);
  width: 100%;
  margin: 8px 0;
}
.block {
  display: block;
}
.disable {
  color: rgb(128, 128, 128, 0.75);
  cursor: auto;
  border: none;
  border: 0 solid transparent;
}

.undoContainer {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 4px;

  transition: all 250ms ease-in-out;
  /* z-index: -1; */
}
.undoContainer > div {
  position: relative;
  /* height: 32px; */
  width: 100%;
  background-color: var(--background);
  box-shadow: var(--accent) 0px 0px 2px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  animation: slidein 1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 4px 8px;
  animation: deleteUndoContainer 5150ms, slidein 250ms;
  z-index: 5;
}
.undoContainer > div > span {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  height: max-content;
  flex: 1;
}
.undoContainer div .contextBtn {
  font-size: 16px;
  width: auto;
  /* padding: 0 8px; */
  margin: 2px 0;
  width: auto;
}

.undoContainer .divProgers {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent);
  animation: progressBar 5s;
}
@keyframes progressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes deleteUndoContainer {
  0% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translateX(50%);
    opacity: 0;
    filter: blur(1rem);
  }
}
@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(500%);
  }
  to {
    opcaity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opcaity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn50 {
  from {
    opacity: 0;
  }
  to {
    opcaity: 0.5;
  }
}
@keyframes expandAnimation {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}
@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 1200px){
  .addBookmark-form{
    width: 50%;
   
  }
}
@media screen and (min-width: 1440px) {
  .main {
    width: 1440px;
  }
  .addBookmark-form{
    width: 50%;
    padding: 42px;
    transform: translateY(-10%);
  }
  .settings-menu{
    width: 70%;
  }
  .editDiv form{
    top: 20%;
    padding: 42px;
    width: 50%;
  }
  /* .main-section{
    width: 100%;
  } */
}
