@import url();
:root{
  --text-color-semiTrans: gray;
}
body {
  height: 100vh;
  overflow: hidden;
  background-color: var(--first);
}
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--text-color);
}
i {
  display: inline-block;
}
.elementToDrag {
  border: 1px solid var(--accent-first);
  border-radius: 0.25rem;
}
.main {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Start of Navbar Styles*/
.main-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.main-nav-icon {
  height: 32px;
  margin: 32px 16px;
  display: flex;
  gap: 16px;
}
.main-nav-icon > li {
  display: flex;
  width: 32px;
  align-items: center;
  justify-content: center;
}
.main-nav-icon-btn {
  flex: 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.main-nav-icon-btn:hover {
  color: var(--accent-first);
}
.addBookmark-btn[data-active="true"],
.settings-btn[data-active="true"],
.editBookmarks-btn[data-active="true"] {
  color: var(--accent-first);
}
/* End of Navbar Styles*/
.main-section {
  flex-grow: 1;
  position: relative;
}
/* Start of Bookmark Section */
.main-section-bookmarks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.main-section-bookmarks-group {
  position: relative;
  line-height: 1.25;
  cursor: pointer;
}
.main-section-bookmarks-group > div:hover::before {
  right: 5%;
  position: absolute;
  content: "\f077";
  font: normal normal normal 12px/1 FontAwesome;
  color: var(--text-color-semiTrans);
  z-index: -1;
}
.main-section-bookmarks-group > div:first-child {
  border-top: 1px solid var(--accent-first);
  margin: 16px 16px 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-section-bookmarks-group-icons {
  margin-right: 40px;
}
.main-section-bookmarks-group-icons,
.main-section-bookmarks-ul-li-icons {
  position: absolute;
  right: 0;
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  text-align: center;
}
.main-section-bookmarks-ul-li-icons {
  padding: 0 16px 0 0;
}
.main-section-bookmarks-ul-li-icons > i,
.main-section-bookmarks-group-icons > i {
  color: var(--text-color-semiTrans);
  /* width: 12px;
  height: 16px; */
  font-size: 16px;
  overflow: none;
  cursor: pointer;
}
.main-section-bookmarks-ul-li-icons > i:hover,
.main-section-bookmarks-group-icons > i:hover {
  color: var(--accent-first);
}
.main-section-bookmarks-group-icons > i[data-visible="false"],
.main-section-bookmarks-group-icons[data-visible="false"] {
  display: none;
}
.main-section-bookmarks-group-icons > i[data-visible="true"],
.main-section-bookmarks-group-icons[data-visible="true"] {
  display: inline-block;
}
.main-section-bookmarks-ul-li-icons[data-visible="true"] {
  display: flex;
}
.main-section-bookmarks-ul-li-icons[data-visible="false"] {
  display: none;
}
.main-section-bookmarks-group-title {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color-semiTrans);
}
.main-section-bookmarks-ul[data-collapsed="true"] > li {
  display: none;
}
.main-section-bookmarks-ul[data-collapsed="false"] > li {
  display: flex;
}
.main-section-bookmarks-ul-title {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.main-section-bookmarks-ul-li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.main-section-bookmarks-ul-li-link {
  display: block;
  width: 100%;
  padding: 4px 16px 4px 16px;
  line-height: 20px;
  text-decoration: none;
}
.main-section-bookmarks-ul-li-link:hover,
.main-section-bookmarks-ul-li-link:focus {
  color: var(--accent-first);
  background-color: var(--third);
  border-radius: 4px;
}
/* End of Bookmark Section */
/* Start of Footer Section */
.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
}
.main-footer-textarea {
  margin: 4px 0;
}
/* End of Footer Section */
.main-section-bookmarks-ul-li[data-visible="false"],
.addCreateNewGroup[data-visible="false"] {
  display: none;
}
.bi[data-visible="false"] {
  display: none;
}
.bi[data-visible="true"] {
  display: block;
}
/* Start of Add New Bookmark / Group Container */
.addBookmark,
.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(4px);
}
.settings[data-visible="true"],
.addBookmark[data-visible="true"],
.setting-menu-appearance-colorPickers[data-visible="true"] {
  display: flex;
}
.addBookmark[data-visible="false"],
.settings[data-visible="false"],
.setting-menu-appearance-colorPickers[data-visible="false"] {
  display: none;
}
.addCreateNewGroup[data-visible="true"] {
  display: block;
}
.addBookmkar-form-btnContainer > .addBookmark-form-btnIsDisabled,
.addBookmkar-form-btnContainer > .addBookmark-form-btnIsDisabled:hover {
  background-color: gray;
  cursor: auto;
  border: none;
}
.addBookmark-form {
  position: absolute;
  top: 20%;
  padding: 42px;
  background-color: var(--second);
  display: flex;
  width: 640px;
  flex-direction: column;
  gap: 16px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.addBookmark-form-label {
  width: 100%;
  line-height: 24px;
  font-size: 20px;
}
.input {
  background-color: var(--third);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 4px;
  outline: none;
  font-size: 16px;
  height: 32px;
}
.addBookmark-form-input {
  height: 32px;
  margin-top: 4px;
  width: 100%;
}
.input:focus {
  border: 1px solid var(--accent-first);
}
.addBookmkar-form-btnContainer {
  width: 100%;
  display: flex;
  column-gap: 16px;
}
.addBookmark-form-checkbox {
  background-color: var(--accent-first);
}
.button {
  background-color: var(--third);
  border: 1px transparent solid;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  height: 32px;
}
.button:hover,
.button:focus {
  border: 1px var(--accent-first) solid;
}
/* End of Add New Bookmark / Group Container */
/* Start of Setting Container */
.settings {
  flex-direction: column;
}
.settings-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 640px;
  padding: 32px;
  gap: 32px;
  border-radius: 4px;
  background-color: var(--first);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.settings-menu h1 {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}
.settings-menu-importExport,
.setting-menu-appearance,
.settings-menu-newTab {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.settings-menu-importExport h2,
.settings-menu-newTab h2,
.setting-menu-appearance h2 {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid var(--accent-first);
  line-height: 28px;
  font-size: 24px;
}
.setting-menu-appearance-content,
.settings-menu-newTab-content,
.settings-menu-importExport-content {
  width: 100%;
  line-height: 20px;
  font-size: 16px;
  padding: 0 24px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.settings-menu-newTab-content,
.settings-menu-importExport-content {
  flex-direction: column;
  gap: 8px;
}
.settings-menu-newTab-label {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.settings-menu-form {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.settings-menu-form-inp {
  flex-basis: 66.66%;
  height: 32px;
}
.settings-menu-form-btn {
  flex-basis: 33.33%;
  height: 32px;
}
.settings-menu-textarea {
  width: 100%;
  height: 160px;
  resize: none;
}
.settings-menu-textarea::placeholder {
  text-align: center;
}
.settings-menu-btnContainer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.settings-menu-btn,
.setting-menu-appearance-selectColorTheme {
  flex: 1;
}
.setting-menu-appearance-colorPickers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.setting-menu-appearance-colorPickers input {
  flex: 1;
}
.setting-menu-appearance-colorPickers input:hover {
  border-color: var(--accent-first);
  cursor: pointer;
}

/* End of Setting Container */
/* Start of Editing Container */
.linkDisabled {
  display: inline-block;
  pointer-events: none;
}
.isEditingBookmark {
  display: flex;
  flex-direction: column;
  background-color: var(--third);
  border-radius: 4px;
  padding: 4px;
}
.isEditingBookmark > a {
  display: none;
}
.isEditingBookmark > .main-section-bookmarks-ul-li-icons {
  display: none;
}
.isEditingBookmark > div:last-child {
  width: 100%;
  color: #f8fdff;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.isEditingBookmark div div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.isEditingBookmark div div:first-child {
  flex-basis: 66.66%;
}
.isEditingBookmark div div:last-child {
  flex-basis: 33.33%;
}
.isEditingBookmark > div > div > input {
  background-color: var(--first);
  height: 32px;
}

.isEditingGroup {
  display: flex;
  flex-direction: column;
  background-color: var(--third);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 4px;
}
.isEditingGroup h2 {
  display: none;
}
.isEditingGroup div:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.isEditingGroup > div > div:first-child {
  flex: 1;
}
.isEditingGroup > div > div:last-child {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 4px;
}
.isEditingGroup > div > div:last-child > input {
  flex: 1;
}
.isEditingGroup > div > div > input {
  background-color: var(--first);
  width: 100%;
  height: 32px;
}
.isEditingGroup .main-section-bookmarks-group-icons {
  display: none;
}
/* End of Editing Container */
@media screen and (min-width: 1440px) {
  .main {
    width: 1440px;
  }
}
