:root {
  --text-color-semiTrans: gray;
}
body {
  line-height: 1;
  height: 100vh;
  overflow: hidden;
  background-color: var(--first);
}
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--text-color);
  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
}
select,
option {
  cursor: pointer;
}
select:hover {
  background-color: none;
}

ol,
ul {
  list-style: none;
}

i {
  display: inline-block;
}
*[data-visible="true"] {
  display: flex;
}
*[data-visible="false"] {
  display: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--third);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-first);
}
.dragging {
  outline: 1px dashed var(--accent-first);
  border-radius: 2px;
  opacity: 0.5;
}
.dragging > * {
  pointer-events: none;
}
.drag {
  border-top: 1px solid var(--accent-first);
}
.dragOverList {
  outline: 1px dashed var(--accent-first);
  border-radius: 2px;
  min-height: 32px;
  position: relative;
}
ul.main-section-bookmarks-ul.dragOverList {
  height: 100%;
  max-height: 100%;
}
.move {
  cursor: move;
}
.relative {
  position: relative;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  cursor: move;
}
.main {
  /* width: 100%; */
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-nav {
  height: 10%;
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* flex: 1; */
}
/* .hide {
  opacity: 0;
  pointer-events: none;
} */

.main-nav-icon {
  margin-right: 16px;
  gap: 32px;
}

/* .main-nav-icon > li {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.main-nav-icon-btn {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}
.main-nav-icon-btn:hover {
  color: var(--accent-first);
}
.main-section {
  flex-grow: 1;
  position: relative;
  height: 100%;
}
.main-section-bookmarks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  overflow-y: scroll;
  padding: 1px;
}
.main-section-bookmarks-group {
  position: relative;
  line-height: 1.25;
  cursor: pointer;
}
.main-section-bookmarks-group-div:hover::before {
  right: 5%;
  top: 0;
  position: absolute;
  content: "";
  font: 12px/1 FontAwesome;
  color: gray;
  padding-top: 4px;
}
.main-section-bookmarks-group-div {
  border-top: 1px solid var(--accent-first);
  margin: 16px 16px 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-section-bookmarks-group-title {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: gray;
}

.main-section-bookmarks-ul {
  overflow: hidden;
}

.main-section-bookmarks-ul[data-collapsed="true"] {
  max-height: 0;
  transition: max-height 100ms ease;
}

.main-section-bookmarks-ul[data-collapsed="false"] {
  max-height: 1000px;
  transition: max-height 100ms ease;
}
.main-section-bookmarks-ul-li-link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 6px;
  align-items: center;
  padding: 4px 16px 4px 16px;
  line-height: 20px;
  text-decoration: none;
  transition: background 250ms ease;
}
.main-section-bookmarks-ul-li-link:hover,
.main-section-bookmarks-ul-li-link:focus {
  color: var(--accent-first);
  background-color: var(--third);
  border-radius: 2px;
}
.main-footer {
  height: 3%;
}

.addBookmark,
.settings,
.confirmDiv,
.editDiv {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(4px);
}

input.btnIsDisabled,
input.btnIsDisabled:hover,
input.btnIsDisabled:focus {
  color: rgb(128, 128, 128, 0.75);
  cursor: auto;
  border: none;
  border: 0 solid transparent;
  pointer-events: none;
}

.addBookmark-form-btn-add.btnIsDisabled,
.importBtn.btnIsDisabled,
.addBookmark-form-btn-add.btnIsDisabled:hover,
.importBtn.btnIsDisabled:hover,
.addBookmark-form-btn-add.btnIsDisabled:focus,
.importBtn.btnIsDisabled:focus {
  color: rgb(128, 128, 128, 0.75);
  background-color: var(--second);
  cursor: not-allowed;
  border: none;
  border: 0 solid transparent;
  position: relative;
  transform: translateY(0);
}
.importBtn.btnIsDisabled:hover:after {
  content: "You must enter a valid code to import bookmarks";
  bottom: 132%;
  left: 50%;
  transform: translateX(-50%);
  /* opacity: 0.75; */
}
.importBtn.btnIsDisabled:hover:before {
  bottom: 110%;
  left: 20%;
  border-top: 5px solid var(--second);
}
.addBookmark-form-btn-add.btnIsDisabled:hover:before {
  top: 110%;
  left: 20%;
  border-bottom: 5px solid var(--second);
  opacity: 0.75;
}
.addBookmark-form-btn-add.btnIsDisabled:hover:after {
  content: "You must fill fields above to be able to add a bookmark";
  top: 133%;
  left: 30%;
  transform: translateX(-50%);
  opacity: 0.75;
}
.addBookmark-form-btn-add.btnIsDisabled:hover:before,
.importBtn.btnIsDisabled:hover:before {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: scale(2);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 11;
}
.importBtn.btnIsDisabled:hover:after,
.addBookmark-form-btn-add.btnIsDisabled:hover:after {
  color: var(--text-color);
  font-size: 12px;
  font-weight: bold;
  padding: 4px;
  position: absolute;
  width: 75%;
  background: var(--second);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 10;
}
.addBookmark-form {
  position: absolute;
  top: 20%;
  padding: 42px;
  background-color: var(--first);
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 16px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: fadeIn 200ms;
}
.addBookmark-form-label {
  width: 100%;
  line-height: 24px;
  font-size: 20px;
}
.confirmDiv,
.editDiv {
  display: flex;
}
.confirmDiv form {
  gap: 28px;
  animation: fadeIn 200ms;
}
.confirmDiv form h2 {
  font-size: 24px;
}
.editDiv form {
  gap: 16px;
  animation: fadeIn 200ms;
}
.confirmDiv form,
.editDiv form {
  position: absolute;
  top: 20%;
  padding: 42px;
  background-color: var(--first);
  display: flex;
  width: 50%;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.confirmDiv form * {
  width: 100%;
  text-align: center;
}
.editDiv form * {
  width: 100%;
}
.editDiv form label {
  line-height: 24px;
  font-size: 20px;
}
.editDiv form label input {
  margin-top: 4px;
}
.confirmDiv form div,
.editDiv form div {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-around;
}
.undo {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.undo button {
  padding: 0 8px;
}
input:focus {
  background-color: var(--third);
  transition: background 250ms ease;
}
.input {
  background-color: var(--second);
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 4px;
  outline: none;
  height: 32px;
  box-shadow: 1px 1px 0 0 var(--first);
  transform: translateY(-1.5px);
  -webkit-transform: translateY(-1.5px);
}
.addBookmark-form-input {
  height: 32px;
  margin-top: 4px;
  width: 100%;
}
.input:focus {
  border: 1px solid var(--accent-first);
}
.addBookmkar-form-btnContainer {
  width: 100%;
  display: flex;
  column-gap: 16px;
}
.addBookmark-form-checkbox {
  background-color: var(--accent-first);
}
.button {
  background-color: var(--second);
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  height: 32px;
  box-shadow: 1px 1.5px 0 0 var(--first);
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-1.5px);
  -webkit-transform: translateY(-1.5px);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  border: 1px var(--accent-first) solid;
  background: var(--third);
}
.button:active {
  box-shadow: 0 0 0 0 var(--second);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
.settings {
  flex-direction: column;
}
.settings-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 32px;
  gap: 32px;
  border-radius: 2px;
  background-color: var(--first);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: fadeIn 200ms;
  overflow-y: scroll;
  overflow-x: hidden;
}
.settings-menu h1 {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}
.settings-menu-importExport,
.setting-menu-appearance,
.settings-menu-newTab {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.settings-menu-importExport h2,
.settings-menu-newTab h2,
.setting-menu-appearance h2 {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid var(--accent-first);
  line-height: 28px;
  font-size: 24px;
}
.setting-menu-appearance-theme,
.settings-menu-newTab-content,
.settings-menu-importExport-content,
.setting-menu-appearance-settings {
  width: 100%;
  line-height: 20px;
  padding: 0 24px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.setting-menu-appearance-settings {
  justify-content: flex-start;
}
.setting-menu-appearance-settings label {
  display: flex;
  height: 32px;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  /* gap: 4px; */
}
.setting-menu-appearance-settings label *:first-child {
  margin: 0px 16px;
  width: 16px;
  aspect-ratio: 1/1;
}
.settings-menu-newTab-content,
.settings-menu-importExport-content {
  flex-direction: column;
  gap: 8px;
}
.settings-menu-newTab-label {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.settings-menu-form {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.settings-menu-form-inp {
  flex-basis: 66.66%;
  height: 32px;
}
.settings-menu-form-btn {
  flex-basis: 33.33%;
  height: 32px;
}
.settings-menu-textDiv {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: max-content;
  transition: height 1s linear;
}
.settings-menu-textDiv div {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.settings-menu-textDiv div * {
  flex: 1 1 0%;
  text-align: center;
}
.settings-menu-textarea {
  resize: none;
  width: 100%;
  height: 160px;
}

.settings-menu-textarea::placeholder {
  text-align: center;
}
.settings-menu-btnContainer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.settings-menu-btn,
.setting-menu-appearance-selectColorTheme {
  flex: 1;
}
.setting-menu-appearance-colorPickers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.setting-menu-appearance-colorPickers div {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting-menu-appearance-colorPickers p {
  display: none;
  position: absolute;
  text-align: center;
  top: -100%;
  width: max-content;
  padding: 4px;
  background-color: var(--first);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
}
.setting-menu-appearance-colorPickers input {
  width: 100%;
}
.setting-menu-appearance-colorPickers input:hover {
  border-color: var(--accent-first);
  cursor: pointer;
}
.setting-menu-appearance-colorPickers input:hover ~ p {
  display: block;
}
.setting-menu-appearance-theme label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.setting-menu-appearance-theme label input {
  width: 16px;
  aspect-ratio: 1/1;
}
.settings-links {
  position: absolute;
  top: 101%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  display: flex;
  justify-content: space-around;
  animation: fadeIn 200ms;
  z-index: 12;
}
.settings-links a {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.5);
  font-size: 12px;
  text-align: center;
}
.settings-links a:hover {
  color: var(--accent-first);
}
.rmb-popup {
  position: fixed;
  background-color: var(--second);
  padding: 8px;
  border-radius: 2px;
  width: 240px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.rmb-popup p {
  line-height: 20px;
}
.contextBtn {
  display: block;
  width: 100%;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background 250ms ease;
}
.contextBtn:hover,
.contextBtn:focus {
  color: var(--accent-first);
  background-color: var(--third);
  border-radius: 2px;
}
.contextTopBtnDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contextTopBtnDiv a {
  width: max-content;
}
.line {
  border-top: 1px solid var(--accent-first);
  width: 100%;
  margin: 8px 0;
}
.moveDiv,
.positionDiv {
  width: 100%;
  position: relative;
}
.positionDiv {
  height: 32px;
  cursor: context-menu;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.positionDiv:hover {
  background: none;
}
.positionDiv div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.positionDiv div p {
  text-align: center;
  width: 20px;
  border-radius: 2px;
  background-color: var(--third);
}
.positionDiv div a .fa-solid:hover {
  color: var(--accent-first);
  cursor: pointer;
}
.listDiv {
  position: absolute;
  top: -8px;
  left: 100%;
  background-color: var(--second);
  padding: 8px;
  border-radius: 2px;
  width: 240px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;
}
.moveDiv:hover .listDiv {
  display: flex;
}
.block {
  display: block;
}
.moveBtn {
  position: relative;
}
.moveBtn::after {
  display: inline-block;
  right: 16px;
  top: 25%;
  position: absolute;
  content: "";
  font: normal normal normal 16px/1 FontAwesome;
  color: var(--text-color);
}
.disable {
  color: rgb(128, 128, 128, 0.75);
  cursor: auto;
  border: none;
  border: 0 solid transparent;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opcaity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn50 {
  from {
    opacity: 0;
  }
  to {
    opcaity: 0.5;
  }
}
@media screen and (min-width: 1440px) {
  .main {
    width: 1440px;
  }
}
